<script lang="ts">
	import { type SessionOutcome as SessionOutcomeType } from '$lib/types';
	import { type Prompt as PromptType } from '$lib/types';
	import { type Response } from '$lib/types';
	import type { PageData } from './$types';
	import { get_file, get_prompt } from '$lib/firebase';
	import { get_response } from '$lib/firebase';
	import { get_url } from '$lib/blob_url';
	import Prompt from '$lib/Prompt.svelte';

	export let data: PageData;

	const session_outcome_promise: Promise<SessionOutcomeType> = data.session_outcome_promise;

	type SessionOutcomeData = {
		prompt: PromptType,
		response: Response,
		full_video: Blob,
		session_outcome: SessionOutcomeType,
	};
	async function get_data(): Promise<SessionOutcomeData> {
		const session_outcome = await session_outcome_promise;
		const full_video = await get_file(session_outcome.full_video_blob_id);
		const response = await get_response(session_outcome.interaction_response_id);
		const prompt = await get_prompt(session_outcome.interaction_prompt_id);

		return {
			prompt: prompt,
			response: response,
			full_video: full_video,
			session_outcome: session_outcome,
		}
	}

	const session_outcome_data_promise = get_data();
</script>

{#await session_outcome_data_promise}
	<p>Waiting for session outcome data.</p>
{:then session_outcome_data}
	<h1>Session outcome</h1>

	{#each Object.entries(session_outcome_data.session_outcome) as [key, value]}
	<p>
		<b>{key}: </b>
		{value}
	</p>
	{/each}

	<h2>Prompt</h2>

	<Prompt prompt={session_outcome_data.prompt} />

	<h2>Response</h2>
	<p>"{session_outcome_data.response}"</p>

	<h2>Full video</h2>
	<!-- svelte-ignore a11y_media_has_caption -->
	<video
		src={get_url(session_outcome_data.full_video)}
		autoplay
		controls
	>
	</video>
{:catch error}
	<p>Error: {error}</p>
{/await}
