<script lang="ts">
	import { goto } from '$app/navigation';

	let chain_id = $state('');

	function handleSubmit(event: Event) {
		event.preventDefault();
		goto(`./prompt/chain_loop?chain_id=${chain_id}`);
	}
</script>

<h1>NP-Mujoco</h1>

This web page let's users answer prompts made by the NP-Mujoco backend.

<ul>
	<li>
		<b><a href="/prompt/autoselect">Prompt autoselect:</a></b>
		Automatically assigns you an unanswered prompt.
	</li>
	<li>
		<b>Go to chain</b>
		<form onsubmit={event => handleSubmit(event)}>
			<input 
				bind:value={chain_id}
				placeholder="chain_id" 
			/>
			<button disabled={!chain_id} type="submit">Go</button>
		</form>
		Places you in the interaction loop of a specific chain.
	</li>
</ul>
