<script lang="ts">
	import { type SessionOutcome as SessionOutcomeType } from '$lib/types';
	import { get_chain_mermaid } from '$lib/mermaid';
	import Mermaid from '$lib/Mermaid.svelte';
	import type { PageData } from './$types';
	import mermaid from 'mermaid';

	export let data: PageData;

	const session_outcomes_promise: Promise<SessionOutcomeType[]> = data.session_outcomes_promise;

	mermaid.initialize({
		securityLevel: 'loose',
	})
</script>

{#await session_outcomes_promise}
	<p>Waiting for data...</p>
{:then session_outcomes}
	<Mermaid chart={get_chain_mermaid(session_outcomes)} />
{:catch error}
	<p>Error: {error}</p>
{/await}
