<h1>Success</h1>

<p>Prompt response was successfully stored in database.</p>

<p>
You might want to be automatically assigned to an unanswered prompt.
Go to the following page: <a href="/prompt/autoselect">/prompt/autoselect</a>
</p>
