<script lang="ts">
	import { upload_response } from '$lib/firebase';
	import { type Prompt as PromptType } from '$lib/types';
	import type { PageData } from './$types';
	import Prompt from '$lib/Prompt.svelte';
	import { goto } from '$app/navigation';

	let data: { data: PageData} = $props();

	const { prompt_promise, prompt_id }: {
		prompt_id: string,
		prompt_promise: Promise<PromptType>,
	} = data.data;

	let response = $state('');

	async function submit_response(response: string): Promise<undefined> {
		try {
			await upload_response(response, prompt_id);
			goto('/prompt/success');
		} catch {
			goto('/prompt/failure');
		}
	}

	function handleSubmit(event: Event) {
		event.preventDefault();
		submit_response(response);
	}
</script>

{#await prompt_promise}
	<p>Waiting for prompt.</p>
{:then prompt}
	<Prompt prompt={prompt} />

	<form onsubmit={event => handleSubmit(event)}>
		<input 
			bind:value={response}
			placeholder="response" 
		/>
		<button disabled={!response} type="submit">Submit</button>
	</form>
{:catch error}
	<p>Error: {error}</p>
{/await}
