<script lang="ts">
	import type { PageData } from './$types';
	import { goto } from '$app/navigation';

	export let data: PageData;

	const prompt_id_promise: Promise<string> = data.prompt_id_promise;

	prompt_id_promise.then(function(prompt_id: string) {
		goto(`./respond?prompt_id=${prompt_id}`);
	});
</script>

{#await prompt_id_promise}
	<p>Retrieving unanswered prompt from database</p>
{:then prompt_id}
	<p>You will be redirected to prompt '{prompt_id}' soon!</p>
{:catch error}
	<p>Error! {error}</p>
{/await}
