<script lang="ts">
	import mermaid from 'mermaid';

	let { chart }: { chart: string } = $props();

	mermaid.initialize({
		securityLevel: 'loose',
	})

	// Mermaid chart
	let chart_pre: HTMLElement;

	$effect(() => {
		mermaid.run({
			nodes: [chart_pre],
		});
	});
</script>

<pre bind:this={chart_pre}>
	{chart}
</pre>
