<script lang="ts">
	import { type Prompt as PromptType } from '$lib/types';
	import { get_url } from '$lib/blob_url';
	let { prompt }: {
		prompt: PromptType
	}= $props();
</script>

{#each prompt.data as datum}
	<div>
		{#if typeof datum === "string"}
			<p>{datum}</p>
		{:else if datum["type"] === "image"}
			<img
				src={get_url(datum["data"])}
				alt="Cannot display (corrupted database file?)!"
			/>
		{:else if datum["type"] === "video"}
			<!-- svelte-ignore a11y_media_has_caption -->
			<video
				src={get_url(datum["data"])}
				autoplay
				controls
			>
			</video>
		{/if}
	</div>
{/each}
