<script lang="ts">
	import type { PageData } from './$types';
	import { type Prompt as PromptType } from '$lib/types';
	import Prompt from '$lib/Prompt.svelte';
	import { get_latest_unanswered_chain_prompt_id } from '$lib/firebase';
	import { get_prompt } from '$lib/firebase';
	import { upload_response } from '$lib/firebase';

	let data: { data: PageData} = $props();

	const chain_id: string = data.data.chain_id;

	/**
	  * Page state.
	  **/
	let waiting = $state(true);
	let prompt: PromptType | null = $state(null);
	let prompt_id: string | null = $state(null);
	let response = $state('');
	let waiting_since = $state(Date.now());
	let waiting_time = $state("0s");

	async function load_prompt() {
		// Spin lock until we find a prompt id
		let _prompt_id: null | string = null;
		while (_prompt_id === null) {
			try {
				_prompt_id = await get_latest_unanswered_chain_prompt_id(chain_id);
			} catch (e) {
				console.error(e);
				await new Promise(r => setTimeout(r, 2000));
				_prompt_id = null;
			}
		}
		const _prompt = await get_prompt(_prompt_id);

		// Update page state
		prompt_id = _prompt_id;
		prompt = _prompt;
		waiting = false;
	}

	async function handleSubmit(event: Event) {
		event.preventDefault();

		const _prompt_id = $state.snapshot(prompt_id);
		if (_prompt_id === null)
			alert("Something terrible has happened!");
		await upload_response(response, _prompt_id);

		// Update page state
		waiting = true;
		prompt = null;
		prompt_id = null;
		response = "";
		waiting_since = Date.now();
		waiting_time = "0s";

		// Schedule next prompt
		load_prompt();
	}

	async function update_waiting() {
		while (true) {
			await new Promise(r => setTimeout(r, 100));
			const duration = Date.now() - $state.snapshot(waiting_since);

			const seconds = Math.floor((duration / 1000) % 60);
			const minutes = Math.floor((duration / (1000 * 60)) % 60);
			const hours = Math.floor((duration / (1000 * 60 * 60)) % 24);

			waiting_time = `${hours}h ${minutes}m ${seconds}s`;
		}
	}

	load_prompt();
	update_waiting();
</script>

{#if waiting}
	<p>Waiting for prompt...</p>

	<p>Waiting for: <b>{waiting_time}</b></p>
	<p>Estimated wait: 3m</p>
{/if}

{#if prompt !== null}
	<Prompt prompt={prompt} />

	<form onsubmit={event => handleSubmit(event)}>
		<input 
			bind:value={response}
			placeholder="response" 
		/>
		<button disabled={!response} type="submit">Submit</button>
	</form>
{/if}
